### 쉘모드 변경

+ Code 쉘 : esc >y
+ markdown 쉘 : esc > m

#### 마크다운쉘에서 문서만들기

# 서울 지하철 평균 이용객 수 분석

## 가장 이용객이 많은 지하철은?

+ 강남
+ 홍대
    - 성수
    - 합정

* 별표 하나는 번호 없는 목록

*별표로 감싸면 기울이기(주의 *와 글자사이에 공백안됨)*

**별표 2개는 굵게**

***별표 3개는 굵게 기울기***

가로선 ---

---
> 인용문이지만 많이 사용

<div align='center'> 헬로우 월드 </div>

<img src='dataset/puppy.jpg'>

[링크걸기](http://www.data.go.kr)



이미지링크[![텍스트](https://t1.daumcdn.net/daumtop_chanel/op/20170315064553027.png)](https://www.daum.net/)

### <font color='green'>코드결과</font>

In [9]:
import pandas
p1 = pandas.read_csv('dataset/subway_data1.csv',encoding='utf-8')
p1

    구 분      역명          총계      일평균
0   1호선     서울역  11,933,924  132,599
1   1호선     시청역   4,221,693   46,908
2   1호선     종각역   8,441,749   93,797
3   1호선   종로3가역   6,725,558   74,728
4   1호선   종로5가역   5,038,305   55,981
..  ...     ...         ...      ...
90  4호선     이촌역   1,792,511   19,917
91  4호선     동작역     523,615    5,818
92  4호선  총신대입구역   4,398,897   48,877
93  4호선     사당역   5,459,335   60,659
94  4호선    남태령역     206,457    2,294

[95 rows x 4 columns]

<table>
    <tr><td>dsf</td><td>dgf</td></tr>
    <tr><td>tyt</td><td>gdf</td></tr>
</table>

[연습]

지하철이미지 출력

그 이미지 클릭하면 지하철 홈페이지 연결

In [ ]:
[<img src='dataset/map_subway.jpg'>](https://www.daum.net/)

[![텍스트](./dataset/map_subway.jpg)](https://www.daum.net/)