## Series

- DataFrame의 한 컬럼 데이터 세트

- Series 역시 DataFrame의 인덱스와 동일한 인덱스를 가진다

- 즉 Series는 컬럼이 하나인 데이타 구조체이고, DataFrame은 컬럼이 여러개인 데이타 구조체이다


> DataFrame을 RDBMS의 테이블과 유사하다면, Series는 테이블의 한 컬럼과 유사다하고 볼 수 있다

In [2]:
# from pandas import Series
# age_in = Series([22,33,44,25,28])

import pandas as pd
age_in = pd.Series([22,33,44,25,28])
age_in

0    22
1    33
2    44
3    25
4    28
dtype: int64

In [3]:
age_in.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
age_in.values

array([22, 33, 44, 25, 28], dtype=int64)

In [5]:
age_in.keys

<bound method Series.keys of 0    22
1    33
2    44
3    25
4    28
dtype: int64>

인덱스 지정하며 시리즈 생성

In [6]:
age_in.keys()

RangeIndex(start=0, stop=5, step=1)

In [9]:
age_in = pd.Series([22,33,44,25,28], index=['가','ㄴ','ㄷ','ㄹ','ㅁ'])
age_in

가    22
ㄴ    33
ㄷ    44
ㄹ    25
ㅁ    28
dtype: int64

In [10]:
# Series 인덱스 중복 확인
age_in.index

Index(['가', 'ㄴ', 'ㄷ', 'ㄹ', 'ㅁ'], dtype='object')

In [11]:
age_in.keys()

Index(['가', 'ㄴ', 'ㄷ', 'ㄹ', 'ㅁ'], dtype='object')

In [12]:
age_in.values

array([22, 33, 44, 25, 28], dtype=int64)

In [13]:
age_in.keys

<bound method Series.keys of 가    22
ㄴ    33
ㄷ    44
ㄹ    25
ㅁ    28
dtype: int64>

In [16]:
age_in['ㄷ']=100
age_in.values

array([ 22,  33, 100,  25,  28], dtype=int64)

In [20]:
srs = pd.Series(['ㄱ','ㄴ','ㄷ'],index=['a','b','a'])
srs

srs['a']
srs[0]
srs[-1]

'ㄷ'

딕셔러리를 시리즈 형태로 변환

In [21]:
# 딕셔러리를 시리즈 형태로 변환
info_list = { 'kim': 25, 'park':22, 'lee':34 }
info_series = pd.Series(info_list)
info_series

kim     25
park    22
lee     34
dtype: int64

In [23]:
# lee씨의 점수를 90점으로 지정
info_series['lee']=90
info_series

kim     25
park    22
lee     90
dtype: int64

In [25]:
# 인덱스를 지정하면 -> NaN로
# 이미 인덱스 역할을 할 요소가 있는데 index를 지정해서 그런가
info_list = { 'kim': 25, 'park':22, 'lee':34 }
info_series = pd.Series(info_list,index=[0,1,2])
info_series

0   NaN
1   NaN
2   NaN
dtype: float64

In [5]:
## 가,나,다 요소에 A, B, C 인덱스를 가진 시리즈 생성

##  Series 인덱스

+ 리스트, 튜플의 index와  dict 의 key 와 유사

+ 같은 값의 index 가 가능 ( 즉, 중복 가능 )


-------------------------------------------------
## 정리

- 리스트 튜플 index : 일련번호로 변경불가 / 순서 개념이 있다

- Series Index : 중복 가능 / 순서 개념이 있다

- Dict key : 중복 불가 / 순서 개념 없다

## 판다스를 사용하는 이유


만일 파이썬의 리스트와 판다스의 Series가 거의 유사하다면, 우리는 왜 파이썬의 리스트가 아닌 판다스의 Series를 사용할까? 

파이썬의 리스트를 사용하면 판다스에서 제공하는 다양한 기능을 사용할 수 없기 때문이다.