In [4]:
import pandas as pd

df = pd.read_excel('data/2016-01.xls')

#### 판다스 데이타프레임의 기본적인 정보 얻어오기

- 앞에 10개 행 보기
- 뒤에 10개 행 보기

- 판매건수에서 큰 값 순으로 10개 (ngargest()이용)
- 판매건수에서 작은 값 순으로 10개 (nsmallest()이용)

#### 컬럼으로 추출

- 컬럼명들을 출력
- 판매건수 데이타 출력

In [51]:
list=[]
b = df[(df['상품명']=='야채')|(df['상품명']=='딸기')|(df['상품명']=='봉투')].sort_values('매출',ascending=False)
b
#|df['상품명']==('딸기')|df['상품명']==('야채')

  상품명   판매건수  가격      매출
0  봉투  12362  50  618100
7  봉투   2038  30   61140
2  야채   4190   0       0
5  딸기   2234   0       0

#### 행에서 데이타 추출

- 야채, 딸기, 봉투행을 추출하여 매출순으로 정렬하기 (sort_values()이용)
- 바나나행부터 딸기행까지 추출
- 야채부터 딸기행까지 추출

#### 일련번호로 데이타 추출

- 1번째 행 레코드 출력
- '바나나' 행 레코드 출력

#### 조건으로 검색

- 가격이 10000 초과 상품 출력
- 가격이 10000에서 20000 사이 상품 출력

#### 판매건수로 정렬

#### 연속적(chain)으로 데이타 추출


가격순으로 정렬하되 판매건수와 가격만 추출