In [2]:
import pandas as pd

df = pd.DataFrame( {'a':[10,20,30], 'b':[2, 4, 6]})

In [5]:
# 1. 함수 정의
def my_fun1(x):
    return x**2

def my_fun2(x, n):
    return x**n

print(my_fun1(4))
print(my_fun2(4,4))

16
256

In [13]:
# 2. apply 함수를 이용하여 모든 데이타에 각각 함수 적용하기

# my_fun1(df['a'])
# my_fun1(df)

# df['a'].apply(my_fun1)
# df['b'].apply(my_fun2,n=3)
df.apply(my_fun2,n=3)

df['a'].apply(lambda x:my_fun1(x))

0    100
1    400
2    900
Name: a, dtype: int64

In [18]:
# [연습] 데이타 프레임의 각 열 단위로 데이타의 합을 출력
def my_fun3(col):
    sum=0
    for i in col:
        sum += i
    return sum

my_fun3(df['a'])

df.apply(my_fun3)
df.apply(my_fun3, axis=1)#행단위

0    12
1    24
2    36
dtype: int64

In [20]:
# 'a' 컬럼의 값이 10 이하는 'C', 20 이하는  'B', 30 이하는 'A'를 지정하고자 할 때
def func(score):
    grade = ''
    if( score <= 10) : grade='C'
    elif(score <= 20) : grade='B'
    elif(score <= 30) : grade='A'
    return grade
df['a'].apply(func)
df['a'].apply(lambda x:func(x))

0    C
1    B
2    A
Name: a, dtype: object

## [연습]  고객의 결제정보에서 vip 선별

결재가 confirmed 된 상태이고 금액이 500원이상 구매한 고객들을 vip로 선별하고 그 외 고객들은 non-vip로 지정하여 grade 컬럼에 추가 저장한다.

In [27]:
import pandas as pd

# index_col : 지정한 컬럼을 Row Index로 사용한다.
customer = pd.read_csv('./data/customer.csv', index_col = "Name")
customer

            date  price      state
Name
Kang  2017-01-01    500  confirmed
Kim   2017-01-03    700  confirmed
Choi  2017-01-03    900  confirmed
Park  2017-01-05    800  confirmed
Lee   2017-01-07    500   canceled
Yoon  2017-01-09    700  confirmed
Jang  2017-01-09    600   canceled
Ko    2017-01-10    200   canceled

In [56]:
# grade 컬럼 추가
customer['grade']=False
customer
# 결재가 confirmed 된 상태이고 금액이 500원이상에 대한 조건값을 먼저 넣으세요(True/False)
#customer['state']=='confirmed')&(customer['price']>500)==
customer['grade']=(customer['state']=='confirmed')&(customer['price']>500)
customer

def d(grade):
    if grade==True: 
        return 'VIP'
    else: 
        return 'Non-VIP'

customer['grade'] = customer['grade'].apply(d)
customer
# def d(customer):
#     if(customer['state']=='confirmed')&(customer['price']>500):
#         customer['grade']=True       
#     return customer

# customer.apply(d)

# 함수 선언 (True이면 VIP지정하고 False 이면 Non-VIP)
# grade 컬럼과 2번의 함수와 연결(apply 사용가능)

            date  price      state    grade
Name
Kang  2017-01-01    500  confirmed  Non-VIP
Kim   2017-01-03    700  confirmed      VIP
Choi  2017-01-03    900  confirmed      VIP
Park  2017-01-05    800  confirmed      VIP
Lee   2017-01-07    500   canceled  Non-VIP
Yoon  2017-01-09    700  confirmed      VIP
Jang  2017-01-09    600   canceled  Non-VIP
Ko    2017-01-10    200   canceled  Non-VIP